<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Movys</title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
<link rel="stylesheet" th:href="@{/css/styles.18138bb15891daf44583.css}">
</head>
<body>
	<app-root></app-root>
	<script  th:src="@{/js/runtime-es2015.0811dcefd377500b5b1a.js}" type="module"></script>
	<script  th:src="@{/js/runtime-es5.0811dcefd377500b5b1a.js}" nomodule defer></script>
	<script  th:src="@{/js/polyfills-es5.2665a64926e4a963514a.js}" nomodule defer></script>
	<script  th:src="@{/js/polyfills-es2015.d305bfe7f327ad352449.js}" type="module"></script>
	<script  th:src="@{/js/scripts.fd12c80ebcc479d5730a.js}" defer></script>
	<script  th:src="@{/js/main-es2015.0eceaa1a33c2a388f67e.js}" type="module"></script>
	<script  th:src="@{/js/main-es5.0eceaa1a33c2a388f67e.js}" nomodule defer></script>
</body>
</html>
