<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #242526;">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" style="color: #2d88ff;">Movys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Movies<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/recommend" routerLinkActive="active">For You</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0 "> -->
            <input class="form-control w-50" [(ngModel)]="searchTerm" type="text"
                placeholder="Search your favourite movie" aria-label="Search"
                style="color:white; background-color: #3a3b3c; border: hidden;"
                (keyup)="searchBarTyped()">
        <!-- </form> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> Hi! Rajat </a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>